<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.metaddev.haktcode"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.metaddev.haktcode.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.metaddev.haktcode.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="com.metaddev.haktcode.QRScannerActivity"
            android:label="@string/title_activity_qrscanner" >
        </activity>
        <activity
            android:name="com.metaddev.haktcode.QrResultActivity"
            android:label="@string/title_activity_qr_result" >
        </activity>
        <activity
            android:name="com.metaddev.haktcode.JoynSdkActivity"
            android:label="@string/title_activity_joyn_sdk" >
        </activity>

        <receiver android:name="com.metaddev.haktcode.messaging.chat.SingleChatInvitationReceiver" >
            <intent-filter>
                <action android:name="org.gsma.joyn.chat.action.NEW_CHAT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.metaddev.haktcode.ChefViewActivity"
            android:label="@string/title_activity_chef_view" >
        </activity>
        <activity
            android:name="com.metaddev.haktcode.WebViewActivity"
            android:label="@string/title_activity_web_view" >
        </activity>
        <activity
            android:name="com.metaddev.haktcode.ViewItemActivity"
            android:label="@string/title_activity_view_item" >
        </activity>
    </application>

</manifest>
